#form-pix {
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-pix select, #form-pix input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#form-pix button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#form-pix button[type="submit"]:hover {
    background-color: #3e8e41;
}

@media only screen and (max-width: 480px) {
    #form-pix {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
    }
}
