body {
  background: #f3f3f3;
  font-family: Arial;
  margin: 0;
}

header {
  background: #111;
  padding: 15px;
  color: white;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.box, .card {
  background: white;
  padding: 20px;
  width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0002;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #111;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
