* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  margin-top: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3730a3;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #4f46e5;
}
